.album-list{
    width: 30%;
    height: 400px;
}

.album-list-content{
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-list-content ul {
    background-color: rgba(235, 235, 235, 0.986);
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.album-list-content li{
    list-style: none;
    margin-right: 10px;
}

.album-list-span{
    width: 20%;
    border-radius: 5px;
    /* margin: 20px; */
    padding: 10px 30px;
    color: #ffffff;
    background: #02AAB0;  /* fallback for old browsers */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.album-list-content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.album-list-content h4 {
    font-size: 16px;
    color: #888;
}
.album-list-content span {
    font-size: 14px;
    color: #3eb4bf;
}