#sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    border-right: 1px solid #cccccc;
}
#sidebar .logo {
    margin-bottom: 40px;
    text-align: center;
}

#sidebar .logo img {
    height: 80px;
    width: 80px;
}


.custom_sidebar {
    padding: 0px;
}
.custom_sidebar h4{
    margin-left: 70px;
    font-weight: 400;
    color: #686868;
}

.custom_sidebar span{
    margin-left: 60px;
}

.sidebar_menu {
    padding: 0px;
}

.sidebar_item{
    display: block;
    text-decoration: none;
    margin: 20px 0;
    padding: 10px;
}
.sidebar_item:hover{
    background: #F6A286;
    color: white;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    text-decoration: none;
    padding: 10px;
    transform: scale(0.9);
}

.sidebar_libra{
    margin-top: 100px;
}


.inactiveLink {
    color: #fff;
    text-decoration: none;
}
.activeLink {
    background: #F6A286;
    color: white;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    text-decoration: none;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 176, 124, 0.753), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}