*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 85%;
    float: right;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-content{
    list-style: none;
    margin-bottom: 0;
}
.nav-item {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16;
    text-decoration: none;
}

.search-box {
    margin-right: auto;
    height: 40px;
    border-radius: 40px;
    margin-left: 20px;
}

.search-btn{
    color: white;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

.search-txt {
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background: none;
    outline: none;
    float: right;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 300px;
    transition: width .4s ease-in-out;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
.search-txt:focus{
    width: 500px;
    
}