*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 85%;
    float: right;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;

}

.nav-content{
    list-style: none;
}
.nav-item {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16;
    color: #000000;
    text-decoration: none;
}

.search-box {
    margin-right: auto;
    height: 40px;
    border-radius: 40px;
    margin-left: 20px;
}

.search-btn{
    color: #e84118;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

.search-txt {
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background: none;
    outline: none;
    float: right;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 300px;
}